agm-map {
  height: 400px;
}
.agm-container{
  width: 60%;
  margin: auto;
  padding:2rem;
}
h3{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
button{
  float: right;
}
.mat-list-item{
  color:green;
  background-color: #eeeeee;
  margin: 1rem;
  margin-left:0;
  border: none;
  border-radius: 10px;
}
.display-flex{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 40%;
}

mat-error{
  font-size: 100% !important;
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

